body｛
text-align:center;
background:#f5f5f5;
font-familiy:sans-serif;
｝
h1｛
color:blue;
｝
img｛
width:300px;
border-radius:10px;
｝
button｛
padding:10px 20px;
background:blue;
color:white;
border:none;
｝
button:hover｛
background:navy;
｝

